/* style-for-categories */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.category-top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #142d81be, #3d5abb);
  border: 1px solid #112b80;
  width: 49.5%;
  height: 200px;
  color: #fff;
  font-family: 'Gill Sans', sans-serif;
}

.category-country {
  font-weight: 100;
  font-size: 25px;
  margin-top: 60px;
  color: #fff;
  text-decoration: none;
}

.category-infected {
  font-weight: 100;
  margin: 0;
  font-size: 15px;
}

.arrow-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  color: #fff;
}

.nav-links {
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .category-country {
    font-size: 35px;
  }

  .category-infected {
    font-size: 20px;
  }
}
