/* styles-for-homepage */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.banner-div {
  display: flex;
  background-color: rgb(17, 43, 128);
  justify-content: space-between;
}

.img-banner {
  width: 50vw;
  height: 40vh;
}

.banner-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner-h2 {
  color: #fff;
  font-family: 'Gill Sans', sans-serif;
  margin: 10px 15px;
  font-weight: 100;
  font-size: 20px;
}

.banner-h3 {
  color: #fff;
  font-family: 'Gill Sans', sans-serif;
  margin: 0 15px;
  font-weight: 100;
  font-size: 15px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(38, 67, 159);
  color: #fff;
  font-family: 'Gill Sans', sans-serif;
}

.search-bar-h3,
.search-bar-h4 {
  font-weight: 600;
}

.search-bar-input {
  width: 450px;
  padding: 10px;
  border-radius: 15px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

@media  screen and (min-width: 992px) {
  .banner-h2 {
  font-size: 30px;
  margin-right: 100px;
  }
  
  .banner-h3 {
    font-size: 20px;
    margin-right: 100px;
  }
}
